.status-wrapper{
    margin-left:25%;
    margin-right: 25%;
    margin-top:7%;
    padding:0.5;
    color:rgb(218, 15, 15);
    /*font-weight: bold;*/
    text-align: center;
    /* background-color: rgb(197, 194, 12);
    display: flex;
    flex-direction: column;*/
  }

  p{
    display: flex;
    justify-content: center;
  }

  .pname{
    margin-left:3em;
    margin-right:3em;
    /* font-weight: 500; */
  }

